<html>

  <head>
    <meta charset="utf-8">
    <title>My Amazing App</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Economica|News+Cycle" rel="stylesheet"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="style.css" rel='stylesheet'>


  </head>

  <body>

    
    <div id="banner">
      <h1>My Amazing App</h1>
      <p>This is the most useful app you will never see !</p>
      <p>
        <a id="button" class="btn btn-primary" href="https://www.lewagon.com/fr" role="button" target="blanck">Our Website</a>
      </p>
      </div>
    


    <div class="container-full">
      <div class="row" id="size_row">

        <div class="col-xs-12 col-sm-6 col-md-3" id="background_card_fast">

            
          <div class="card" id="fast">
            <img src="images/briefcase.png" alt="picture description" width="200">
            <h2>Fast</h2>
            <p>A fast app, <strong>very fast</strong> app</p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3" id="background_card_simple">
            
          <div class="card" id="simple">
            <img src="images/diamond.png" alt="picture description" width="200">
            <h2>Simple</h2>
            <p>A simple app, <strong>very simple</strong> app</p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3" id="background_card_awesome">
            
          <div class="card" id="awesome">
            <img src="images/heart.png" alt="picture description" width="200">
            <h2>Awesome</h2>
            <p>An awesome app, <strong>very awesome</strong> app</p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3" id="background_card_beautiful">
            
          <div class="card" id="beautiful">
            <img src="images/laptop.png" alt="picture description" width="200">
            <h2>Beautiful</h2>
            <p>A beautiful app, <strong>very beautiful</strong> app</p>
          </div>
        </div>

        </div>
      </div>


      <div id="separation">
      
      </div>


      <div id="form">

        <div class="container" id="background_form">
          <div class="row">

            <div class="col-xs-12 col-sm-offset-2 col-sm-8">

              <div id="wufoo-zv21giz11j42iq">
              
              </div>
                <script type="text/javascript">var zv21giz11j42iq;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'christophe0o',
                    'formHash':'zv21giz11j42iq',
                    'autoResize':true,
                    'height':'581',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { zv21giz11j42iq = new WufooForm();zv21giz11j42iq.initialize(options);zv21giz11j42iq.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');
                </script>
            </div>
          </div>
        </div>

      </div>


      <div id="footer">
        <ul>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>

        <p>This is a landing page ©My Amazing App</p>
      </div>

  </body>

</html>