body{
  background: rgb(245,245,245);
  color: red;
  font-size: 15px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
h2 {
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
a {
  color: gold;
  text-decoration: none;
  font-size: 50px;
}

img:hover {
  width: 250px;
}

.cta {
  background-color: rgb(220,220,220);
  padding: 50px;
}


#banner{
  text-align: center;
  /*background-image: url("https://unsplash.it/1300/600?random");*/
  /*background-color: black;*/
  background-image: url(images/banner.png);
  background-size: cover;
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 70px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-family: 'News Cycle', sans-serif;
  font-size: 25px;
}

#button {
  background-image: url(images/fond_form.png);
  background-size: cover;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
}

#size_row {
  margin: 0px;
}


#separation {
  background-image: url(images/banner.png);
  background-size: cover;
  padding: 50px;
}


#fast {
  background-image: url(images/fond_form.png);
  background-size: cover;
  text-align: center;
}
#fast p {
  color: black;
}

#simple {
  background-image: url(images/fond_card.png);
  background-size: cover;
  text-align: center;
}
#simple p {
  color: rgb(120, 86, 40);
}
#simple h2 {
  color: rgb(120, 86, 40);
}

#awesome {
  background-image: url(images/fond_form.png);
  background-size: cover;
  text-align: center;
}
#awesome p {
  color: black;
}

#beautiful {
  background-image: url(images/fond_card.png);
  background-size: cover;
  text-align: center;
}
#beautiful p {
  color: rgb(120, 86, 40);
}
#beautiful h2 {
  color: rgb(120, 86, 40);
}

#background_card_fast {
  padding: 0px;
}
#background_card_simple {
  padding: 0px;
}
#background_card_awesome {
  padding: 0px;
}
#background_card_beautiful {
  padding: 0px;
}

#form {
  background-image: url(images/fond_form.png);
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}
#background_form {
  padding: 0px;
}

.card{
  height: 50%;
  font-weight: lighter;
}
.card h2 {
  font-family: 'News Cycle', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 70px;
}
.card p {
  font-family: 'Economica', sans-serif;
  font-size: 30px;
}


#footer{
  padding: 25px;
  background-image: url(images/banner.png);
  background-size: cover;
  color: lightgrey;
  text-align: center;
}
#footer a {
  color: rgb(120, 86, 40);;
  font-size: 50px;
}
#footer a:hover {
  color: red;
}
#footer ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  margin-top: 30px;
}
#footer li {
  display: inline;
  padding: 70px;
}


#background_card_fast {
  padding: 0px;
}
#background_card_simple {
  padding: 0px;
}
#background_card_awesome {
  padding: 0px;
}
#background_card_beautiful {
  padding: 0px;
}
#background_form {
  padding: 0px;
}
